.menu {
  text-align: center;
  list-style: none;
  margin-top: -2.1%;
  text-after-overflow: none;
  font-size: 20px;
  margin-left: -5%;
  color: white;
}
.menu ul {
  list-style: none;
  color: #FFFFFF;
}
.menu li {
  display: inline;
  padding: 3%;
}
.menu a {
  color: #000000;
  text-decoration: none;
}
.menu a:hover {
  color: red;
  transition: all 0.3s ease;
}
.menu .current-menu-item a {
  color: red;
}

.logo-menu {
  padding-left: 1%;
  padding-top: 1%;
}

.icon {
  height: 35px;
  width: 35px;
}

.icon-positie {
  margin-left: 85%;
  margin-top: -3%;
}

.btn-header {
  background-color: transparent;
  border: none;
}

.foto-tekst {
  color: black;
}

.product-type-simple {
  margin-top: 2%;
}

.icon-footer {
  border: solid black 1px;
  padding-right: 0px;
  padding-left: 0px;
  width: 315px;
}

.footer-activiteit {
  padding-bottom: 3%;
  margin-left: 20%;
}

.icon-bottom {
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.icon-nieuwsbrief {
  width: 40px;
  height: auto;
}

.nieuwsbrief-footer {
  border-right: black solid 1px;
  border-bottom: black solid 1px;
  border-top: black solid 1px;
  width: 13%;
  margin-left: 27.8%;
  margin-top: -6.48%;
  height: 71px;
}

.tekst-footer-nieuwsbrief {
  font-size: 20px;
  margin-left: 5%;
}

.icon-bezoeken {
  width: 35px;
  height: auto;
}

.tekst-footer-bezoek {
  font-size: 20px;
  margin-left: 13%;
}

.bezoek-footer {
  border-right: black solid 1px;
  border-bottom: black solid 1px;
  border-top: black solid 1px;
  width: 13%;
  margin-left: 41%;
  margin-top: -6.45%;
  height: 71px;
}

.icon-engels {
  width: 35px;
  height: auto;
}

.tekst-footer-engels {
  font-size: 20px;
  margin-left: 13%;
}

.engels-footer {
  border-right: black solid 1px;
  border-bottom: black solid 1px;
  border-top: black solid 1px;
  width: 13%;
  margin-left: 54%;
  margin-top: -6.45%;
  height: 71px;
}

.btn {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-family: "Poiret One", cursive;
  font-size: 2em;
}

.btn-green {
  background: #2ecc71;
}
.btn-green:hover {
  background: #26ab5f;
  transition: all 0.3s ease;
}
.btn-green:active {
  background: #176437;
  color: #FFFFFF;
}

.btn-blue {
  background: #3498db;
}
.btn-blue:hover {
  background: #2383c4;
  transition: all 0.3s ease;
}
.btn-blue:active {
  background: #16527a;
  color: #FFFFFF;
}

.btn-yellow {
  background: #f1c40f;
}
.btn-yellow:hover {
  background: #cba50c;
  transition: all 0.3s ease;
}
.btn-yellow:active {
  background: #796307;
  color: #FFFFFF;
}

.btn-red {
  background: #e74c3c;
}
.btn-red:hover {
  background: #df2e1b;
  transition: all 0.3s ease;
}
.btn-red:active {
  background: #921e12;
  color: #FFFFFF;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  color: black;
}

h1 {
  font-size: 30px;
}

.wonderpluginslider-container {
  width: 100%;
  height: auto;
}

.header-activiteit {
  text-align: center;
}

wp-block-image {
  width: 100%;
  height: auto;
}

button-links {
  margin-left: 40%;
}

.nieuws-pagina-bottom {
  height: 50px;
}

.nieuws-pagina-top {
  height: 20px;
}

.bericht-page {
  margin-left: 20px;
  margin-top: 10px;
}

.title-bericht {
  color: red;
}

.more-link {
  color: red;
}

.btn-test {
  border: none;
}

.footer-activiteit {
  margin-top: 10%;
}

.btn-meerinfo {
  margin-top: -4%;
}

.header-activiteit {
  margin-top: -4%;
}

.beschrijving-activiteiten-page {
  padding-bottom: 4%;
  margin-top: -2%;
}

/*# sourceMappingURL=test.scss.map */

/*# sourceMappingURL=foam1.css.map */
