@import 'variabele';
//.main-menu {
  //margin: 0%;
 // padding: 0%;
 // display: flex;
 // text-decoration: none;
 // text-align: center;
//  list-style: none;
  //color:white ;

//}




.menu{
  text-align: center;
  list-style: none;
  margin-top: -2.1%;
  text-after-overflow: none;
  font-size: 20px;
  margin-left: -5%;


  color:white;
  ul{
    list-style: none;
    color: #FFFFFF;

  }
  li{
    display: inline;
    padding: 3%;
  }

  a {
    color: $menu-item-color;
    text-decoration: none;

  }
  a:hover{
    color: red;
    transition: all 0.3s ease;
  }
  .current-menu-item{
    a{color: red};
  }


}
.logo-menu{
  padding-left: 1%;
  padding-top: 1%;
}
.icon{
  height: 35px;
  width: 35px;

}
.icon-positie{
  margin-left: 85%;
  margin-top: -3%;

}
.icon1{

}
.icon2{

}
.btn-header{

  background-color: transparent;
  border: none;


}

.foto-tekst{
  color: black;
}
.product-type-simple{
  margin-top: 2%;
}





